/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  display: flex;
  list-style: circle;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header__link {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
}

.header__links-list-item {
  margin-right: 30px;
}

.header__links-list-item:last-child {
  margin-left: -5px;
  margin-right: 0px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item-no-bullit {
  list-style-type: none;
}

.header__logo {
  display: grid;
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 140px;
  padding-bottom: 4px;
}

.header__address {
  grid-column-start: 5;
  grid-column-end: 6;
  justify-self: end;
  align-self: center;
}

.address {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  max-width: 240px;
}

.cover {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.cover__title {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 13px;
  width: 100%;
  z-index: 1;
  color: #FFF;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.aligned-text {
  display: flex;
  letter-spacing: 30px;
  line-height: 115%; /* 115px */
}

.letter-spacing-extended {
  display: flex;
  letter-spacing: 60px;
}

.aligned-text_center {
  justify-content: center;
}

.aligned-text_right_ex {
  justify-content: end;
  letter-spacing: 60px;
  line-height: 100%;
}

.letter-spacing-not_extended {
  letter-spacing: 30px;
}

.no-letter-spacing{
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  width: 100%;
  padding-top: 116px;
  margin-bottom: 50px;
  z-index: 2;
}

.cover__description-text {
  color: #FFF;
  display: flex;
  width: 100%;
  justify-content: end;
  align-self: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 5;
  word-spacing: 17px;
  padding-right: 85px;
}

.bet-button {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  width: 257px;
  min-height: 52px;
  flex-shrink: 0;
  border: 1px solid currentColor;
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.button {
  align-self: center;
  text-align: center;
  max-width: 193px;
  flex-shrink: 0;
  width: 100%;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  list-style: none;
}

.lots__heading {
  padding-left: 45px;
  padding-bottom: 27px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  min-height: 450px;
  width: 430px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card_detail {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card__title {
  width: 100%;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFF;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  display: grid;
  align-items: end;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFF;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 2;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  text-decoration: underline;
  padding-left: 40px;
}

.about {
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
}

.about__column  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.about__logo-image {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 63px 46px;
}

.about__title-right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title{
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
  align-self: center;
}

.title__text {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title__text:last-child {
  padding-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 90px;
}

.footer__address {
  display: grid;
  justify-self: start;
}

.footer__menu {
  display: grid;
  justify-self: center;
}

.footer__social {
  display: grid;
  justify-self: end;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 50px;
}

.footer__menu-list-item {
  list-style-type: none;
  display: grid;
  justify-content: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: grid;
}

.footer__social-link {
  height: 48px;
  width: 48px;
}