/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 109px;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 102px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  display: flex;
  list-style: circle;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header__link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
  gap: 20px;
  list-style-type: circle;
}

.header__links-list-item {
  margin-right: 13px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item-no-bullit {
  list-style-type: none;
}

.header__logo {
  display: grid;
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 148px;
  padding-bottom: 4px;
}

.header__address {
  grid-column-start: 5;
  grid-column-end: 6;
  justify-self: end;
}

.address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  max-width: 240px;
}

.cover {
  display: flex;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.cover__title {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 17px;
  width: 100%;
  z-index: 1;
  padding-top: 180px;
  padding-left: 27px;
  padding-right: 50px;
}

.aligned-text {
  display: flex;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 115%; /* 115px */
  text-transform: uppercase;
}

.letter-spacing-extended {
  display: inline-block;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase
}

.aligned-text_right_ex {
  display: flex;
  justify-content: end;
  color: #FFF;
  text-align: right;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-transform: uppercase;
}

.letter-spacing-not_extended {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.no-letter-spacing{
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 62px;
}

.cover__description-text {
  color: #FFF;
  display: flex;
  width: 100%;
  justify-content: end;
  align-self: center;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 5;
  word-spacing: 23px;
  padding-right: 78px;
}

.bet-button {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  width: 257px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.button {
  align-self: center;
  text-align: center;
  width: 193px;
  height: 28px;
  flex-shrink: 0;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  list-style: none;
}

.lots__heading {
  padding-left: 50px;
  padding-bottom: 27px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  min-height: 450px;
  max-height: 650px;
  min-width: 200px;
  max-width: 430px;
}

.card-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card_detail {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card__title {
  width: 100%;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  display: grid;
  align-items: end;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  text-decoration: underline;
  padding-left: 50px;
}

.about {
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
}

.about__column  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.about__logo-image {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 63px 46px;
}

.about__title-right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title{
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 75px;
}

.title__text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 90px;
}

.footer__address {
  display: grid;
  justify-self: start;
}

.footer__menu {
  display: grid;
  justify-self: center;
}

.footer__social {
  display: grid;
  justify-self: end;
}

.footer__social-list {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.footer__menu-list-item {
  list-style-type: none;
  display: grid;
  justify-content: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: grid;
}

.footer__social-link {
  height: 48px;
  width: 48px;
}